// polygon-img style

.polygon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    widows: 100%;
    height: 50%;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    }
  &__inner2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(-60deg);
    img {
      width: 100%;
      height: 100%;
      visibility: visible;
      transform: rotate(-60deg);
    }
  }
}