// heading style

.heading {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 900;
  color: $secondary-color;
  text-transform: uppercase;
  &_line-left::before {
    width: 5px;
    content: "";
    display: inline-block;
    margin-right: 1rem;
    border-radius: 10px;
    background-color: $primary-color;
  }
  &_line-right {
    justify-content: flex-end;
  }
  &_line-right::after {
    width: 5px;
    content: "";
    display: inline-block;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: $primary-color;
  }
}