// navbar style

.navbar {
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  &__list {
    display: flex;
    overflow: hidden;
  }
  &__item {
    margin-right: 1em;
    font-weight: 700;
  }
  &__item > a {
    color: $mainFontColor;
  }
  &__toggle-btn {
    @include size(35px);
    margin: 2em;
    cursor: pointer;
    &_hidden-desktop {
      display: none;
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .navbar {
    &__toggle-btn_hidden-desktop {
      display: block;
    }
    &__list {
      flex-direction: column;
      flex-grow: 1;
      align-self: center;
      text-align: center;
      height: 0;
      margin-top: 100px;
      transition: height 1s ease-in-out;
    }
    &__list_active {
      height: 100vh;
    }
    &__item {
      margin-bottom: 2em;
    }
  }
}