// content style

.promo {
  background-image: url('/assets/img/Rectangle_1.png');
  background-position: right center;
  background-repeat: no-repeat;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image {
    display: inline-block;
    width: 60%;
    height: auto;
    max-width: 649px;
    max-height: 535px;
  }
  &__caption {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__heading {
    margin-bottom: rem(65);
    h1 {
      font-size: rem(72);
      line-height: rem(55);
      margin-bottom: rem(25);
    }
    span {
      font-size: rem(24);
      line-height: rem(24);
    }
  }
  &__text {
    margin-bottom: rem(45);
  }
  &__button {
    margin-right: rem(20);
  }
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 900;
  color: $secondary-color;
  text-transform: uppercase;
  &_line-left::before {
    @include size(5px, 100%);
    content: "";
    display: inline-block;
    margin-right: 1em;
    border-radius: 10px;
    background-color: $primary-color;
  }
  &_line-right::after {
    @include size(5px, 100%);
    content: "";
    display: inline-block;
    margin-right: 1em;
    border-radius: 10px;
    background-color: $primary-color;
  }
}

.buttons {
  text-transform: uppercase;
  &__video {
    margin-left: rem(10);
    padding-bottom: 5px;
    font-weight: 700;
    line-height: 3em;
    position: relative;
    transition: all .5s;
    color: $secondary-color;
    img {
      margin-bottom: 2px;
      margin-left: 5px;
    }
    &:before {
      content: "";
      width: 0;
      height: 0.1em;
      position: absolute;
      bottom: 0;
      left: 0;
      background: $secondary-color;
      transition: all 0.3s;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            background: $primary-color;
        }
    }
  }
}

.button {
  padding: rem(17) rem(40) rem(17) rem(40);
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color .5s ease;
  &:hover {
    background-color: #1abcff;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .heading {
    &_line-left::before {
      display: none;
    }
    &_line-right::after {
      display: none;
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .promo {
    background-image: none;
    &__image {
        display: none;
    }
    &__caption {
      width: 100%;
      text-align: center;
    }
    &__heading {
      margin-bottom: rem(25);
      justify-content: center;
      h1 {
          font-size: rem(60);        
      }
    }
  }
}