// button style

.button {
  padding: rem(17) rem(40) rem(17) rem(40);
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color .5s ease;
  &:hover {
    background-color: #1abcff;
  }
}