// button style

.button {

  padding: rem(17) rem(35) rem(17) rem(35);
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  background-color: $primary-color;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color .5s ease;
  &:hover {
    background-color: #1abcff;
  }
  &:active {
    background-color: #1abcff;
    box-shadow: inset 0px 5px 25px -5px rgba(0,0,0,0.30);
  }
}