// testimonials style

.testimonials {
  color: $light-color;
  background-color: #0f0816;
  background-image: url(/assets/img/testimonials/testimonials-background.png);
  background-position: center;
  background-repeat: no-repeat;
  &__title {
    margin-bottom: 70px;
  }
  &__slider {
    justify-content: center;
    .slider__control {
      display: none;
    }
    .slider__arrow {
      @include size(30px);
      margin: .5rem;
      opacity: .5;
      &_left {
        background-image: url(/assets/img/slider/arrow-left.svg);
      }
      &_right {
        background-image: url(/assets/img/slider/arrow-right.svg);
      }
    }
  }
  &__comment {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
  }
  &__person {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__accented-text {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::after {
      width: 35px;
      margin-top: .5rem;
      align-self: flex-start;
    }
  }
  &__name {
    color: $light-color;
  }
  &__location {
    color: $light-color;
    font-weight: 300;
    text-transform: none;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .testimonials {
    &__title {
      margin-bottom: 40px;
    }
  }
}