// slider style

$slider-width: $tableWidth;
$slider-height: 100%;

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrap {
    overflow: hidden;
    position: relative;
    width: $slider-width;
    height: $slider-height;
    z-index: 1;
  }
  &__slides {
    display: flex;
    position: relative;
    top: 0;
    left: -$slider-width;
    width: 10000px;
    &_shifting {
      transition: left .2s ease-out;
    }
  }
  &__item {
    width: $slider-width;
    height: $slider-height;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    position: relative;
    border-radius: 2px;
  }
  &__control {
    background: transparent;
    border-radius: 50px;
    z-index: 2;
    cursor: pointer;
  }
}

.slider__item {
  div {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background-color: #555;
  }
}

@media screen and (min-width: $tableWidth) and (max-width: $smDesktopWidth) {
  .slider {
    &__wrap {
      width: 568px;
    }
    &__slides {
      left: -568px;
    }
    &__item {
      width: 568px;
    }
  }
}

@media screen and (min-width: $phoneWidth) and (max-width: $tableWidth) {  
  .slider {
    justify-content: center;
    &__wrap {
      width: 400px;
    }
    &__slides {
      left: -400px;
    }
    &__item {
      width: 400px;
    }
    &__control {
      display: none;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .slider {
    &__wrap {
      width: 290px;
    }
    &__slides {
      left: -290px;
    }
    &__item {
      width: 290px;
    }
    &__control {
      display: none;
    }
  }
}




/*
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrap {
    width: $tableWidth;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  &__slides {
    width: 10000px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
    &_shifting {
      transition: left .2s ease-out;
    }
  }
  &__item {
    width: $tableWidth;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    overflow: hidden;
  }
  &__control {
    background: transparent;
    cursor: pointer;
    &_prev {

    }
    &_next {

    }
  }
}

.slider__item {
  div {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background-color: #555;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .slider {
    &__wrap {
      width: 568px;
    }
    &__item {
      width: 568px;
    }
  }
}

@media screen and (max-width: $tableWidth) {
  .slider {
    justify-content: center;
    &__wrap {
      width: 400px !important;
    }
    &__item {
      width: 400px !important;
    }
    &__control {
      display: none;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .slider {
    &__wrap {
      width: 280px !important;
    }
    &__item {
      width: 280px !important;
    }
  }
}
*/