// slider style

$slider-width: $tableWidth;
$slider-height: 100%;

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__wrap {
    overflow: hidden;
    position: relative;
    width: $slider-width;
    height: $slider-height;
    z-index: 1;
  }
  &__slides {
    display: flex;
    position: relative;
    top: 0;
    left: -$slider-width;
    width: 10000px;
    &_shifting {
      transition: left .2s ease-out;
    }
  }
  &__item {
    width: $slider-width;
    height: $slider-height;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: all 1s;
  }
  &__control {
    @include size(66px);
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease;
  }
  &__dots {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  &__dot {
    @include size(15px);
    display: inline-block;
    margin: 1rem;
    border-radius: 50px;
    background-color: $light-color;
    &_active {
      background-color: $primary-color;
    }
  }
}

@media screen and (min-width: $tableWidth) and (max-width: $smDesktopWidth) {
  .slider {
    &__wrap {
      width: 568px;
    }
    &__slides {
      left: -568px;
    }
    &__item {
      width: 568px;
    }
  }
}

@media screen and (min-width: $phoneWidth) and (max-width: $tableWidth) {  
  .slider {
    justify-content: center;
    &__wrap {
      width: 400px;
    }
    &__slides {
      left: -400px;
    }
    &__item {
      width: 400px;
    }
    &__control {
      display: none;
    }
    &__dot {
      margin: .5rem;
    }
    &__arrow {
      @include size(30px);
      margin: .5rem;
      &_left {
        background-image: url(/assets/img/arrow-left.svg);
      }
      &_right {
        background-image: url(/assets/img/arrow-right.svg);
      }
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .slider {
    &__wrap {
      width: 290px;
    }
    &__slides {
      left: -290px;
    }
    &__item {
      width: 290px;
    }
    &__control {
      display: none;
    }
    &__dot {
      margin: .5rem;
    }
    &__arrow {
      @include size(30px);
      margin: .5rem;
      &_left {
        background-image: url(/assets/img/arrow-left.svg);
      }
      &_right {
        background-image: url(/assets/img/arrow-right.svg);
      }
    }
  }
}