// accented-text style

.accented-text {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 900;
  color: $secondary-color;
  text-transform: uppercase;
  &_line {
    &_right {
      justify-content: flex-end;
      &::after {
        width: 5px;
        content: "";
        display: inline-block;
        margin-left: 1rem;
        border-radius: 10px;
        background-color: $primary-color;
      }
    }
    &_left::before {
      width: 5px;
      content: "";
      display: inline-block;
      margin-right: 1rem;
      border-radius: 10px;
      background-color: $primary-color;
    }
    &_bottom::after {
      height: 5px;
      width: 100%;
      content: "";
      display: inline-block;
      border-radius: 10px;
      background-color: $primary-color;
    }
  }
}