@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $font-color;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  background-color: $common-background-color;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $headingFont;
}

a {
  color: $font-color;
  transition: color .5s ease;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  padding: 100px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 50px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 50px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 50px 0;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
  padding: 0 1em;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth !important;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth !important;
  }
}

// common-blocks
@import "../blocks/common-blocks/header/header.scss";
@import "../blocks/common-blocks/footer/footer.scss";
@import "../blocks/common-blocks/popup/popup.scss";
@import "../blocks/common-blocks/accented-text/accented-text.scss";
@import "../blocks/common-blocks/button/button.scss";
@import "../blocks/common-blocks/title/title.scss";
@import "../blocks/common-blocks/slider/slider.scss";
@import "../blocks/common-blocks/polygon-img/polygon-img.scss";
@import "../blocks/common-blocks/contact-form/contact-form.scss";

// sections
@import "../blocks/sections/intro/intro.scss";
@import "../blocks/sections/numbers/numbers.scss";
@import "../blocks/sections/features/features.scss";
@import "../blocks/sections/real-results/real-results.scss";
@import "../blocks/sections/testimonials/testimonials.scss";
@import "../blocks/sections/facts/facts.scss";
@import "../blocks/sections/sertifications/sertifications.scss";
@import "../blocks/sections/supplement/supplement.scss";
@import "../blocks/sections/subscribe/subscribe.scss";
@import "../blocks/sections/contact/contact.scss";